@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
    box-sizing: border-box;
   

    }

a {
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
    font-family: 'Roboto', monospace;
    font-size: 15pt;
    
}
header {
    height: calc(100vh - 100px);
    background: no-repeat center/cover url('Imagens/image-header.jpg')
}
 ul {
     list-style: none;
 }


div.texto-header {
    margin: auto ;
    justify-content: center;
    width: 70%;
    color: #ffffffb0;
    font-family:  'Open Sans', sans-serif;
    font-weight: bold;
    

    }
nav{
    display: flex;
    justify-content: space-between;
    
}
header nav ul {
    list-style: none;
    display: flex;
    
}

header nav ul li{
    margin: 0 25px;
    color:#ffffffc9;
    font-size: 20px;
    font-weight: bold;
    
}
.button-header {
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to bottom, white, #BDDBCB);
    font-family:  'Open Sans', sans-serif;
    
    
 }

.pacotes {
     background:#EDF8FD ;
     padding: 20px;

     }

.pacotes-title {
    text-align: center;
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    color:#000000be ;
}
 .pacotes .cards-pacotes {
     display: flex;
     max-width: 950px;
     margin: auto;
     flex-wrap: wrap;
     justify-content: center;
    
    
    
    

 }

 .pacotes .card {
    width: 250px;
    height: 460px;
    border-radius: 5%;
    margin: 25px auto;
    background-color: #BDDBCB;
    position: relative;
    }


.card-image {
    width: 250px;
    height: 250px;
    border-radius: 5% 5% 0% 0%;
}

ul.icones li {
    display: flex;
    flex-direction: column;
    list-style: none;
    
    
}

.pacotes .card-content ul li {
        font-size: 12pt;
        display: flex;
        align-items: center;
        margin: 5px 0px;
        
    }

.pacotes .card-content li svg{
    width: 25px;
    height: 25px;
    margin-right: 10px;

}
.card-content h1 {
    font-size: 13pt;
    margin: 10px;
    color: black;
    margin: 0;
    text-align: center;
}
.card-content ul {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.582);
    font-weight: bold;
}.card-content {
    color:rgba(0, 0, 0, 0.767) ; 
    

}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    background:#87c38f91;
    border-radius: 5px;
    padding: 5px 10px ; 
    

}



.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 200px;
    background:#226f547c;
    border-radius: 5px;
    padding: 5px 10px ; 
    

}
.pacotes .card .card-tag p {
    margin: 0;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.719);

}
.servicos {
    background-color: #EDF8FD ;
    padding: 15px ; 
    
}
.servicos-tittle {
    text-align: center;
    margin-bottom: 50px;
    color: #000000be;
}
.servicos .card {
    width: 250px;
    font-family: 'Open Sans', sans-serif ;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin: 33px 20px;
   
    
    
    
    
    
}.servicos .servicos-card {
    display: flex;
    max-width: 950px;
    justify-content:center;
    margin: auto;
    flex-wrap: wrap;
    

    
}

.servicos-card svg {
    color: #226F54;
    stroke-width: 2.5px;
    width: 45px;
    height: 45px;
    transition: all 0.5s;
    
}
.servicos-card svg:hover{
    stroke: #226f5486;
    transform: scale(1.1);
}

.servicos .card button {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px;
    font-weight: bold;
    border: none;
    background-color:#bddbcbbd ;
    font-family: 'Roboto', monospace;
    transition-duration: 0.5s;
    
    
}   
.servicos .card button:hover {
    background-color: #bddbcb ;
    transform:scale(1.1);
} 
.servicos .card .card-content {
 height: 350px;

}
#map {
    height: 400px;
    width: 100%;
}
  
.contato {
    padding: 60px;
    background-color:#BDDBCB ;
    position: relative;
}
.contato .card-contato {
    background-color:rgba(255, 255, 255, 0.863);
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 99;

    top: calc( 50% - 150px);
    left: calc(25% - 300px);
    border-radius: 8px ;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-contato-content ul {
    
    list-style: none;
}
.card-contato-content ul li {
    font-size: 1.2rem;
    display: flex ; 
    align-items: center;
   

}
.card-contato-content ul li svg {
    margin: 10px ;
}
.card-contato h1 {
    text-align: center;
}
.li-contato {
    margin: 10px;
}

 /* Responsividade*/

/* Especial para mapa */

@media (max-width: 950px) { 
    .contato {
        padding: 60px 0;
    }
    .contato .card-contato {
        left: 40px;
        }
    
}


@media (max-width: 800px) {
    .contato {
        padding: 60px 0;

    }
    .contato .card-contato {
        position: static;
        margin: 60px auto;
    }
}

@media (max-width: 480px) {  
   body{
      margin-bottom: 55px;
   }
   
   header nav ul {
        z-index: 99;
        position:fixed;
        bottom: 0;
        left: 0%;
        padding: 30px;
        width: 100%;
        background: #DB965C;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        display: flex;
        color: rgba(255, 255, 255, 0.788);
        font-weight: bold;
        }
        header nav p {
            width: 100%;
            text-align: center;
        }
       
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  

}

/* Large desktop */
@media (min-width: 1200px) { 
    
 }