@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;

    }

body{
    margin: 0;
    font-family: 'Roboto', monospace;
    font-size: 15pt;
    
}
header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('Imagens/image-header.jpg')
}
div.texto-header {
    margin: auto ;
    justify-content: center;
    width: 70%;
    color: rgba(255, 255, 255, 0.733);
    

    }
nav{
    display: flex;
    justify-content: space-between;
    
}
header nav ul {
    list-style: none;
    display: flex;

}
header nav ul li{
    margin: 0 25px;
    color: rgba(255, 255, 255, 0.849);
    
}
 button {
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to bottom, #db955c94, #745d636e);
    font-family: 'Roboto', monospace;
 }

.pacotes {
     background:#EDF8FD ;
     padding: 20px;

     }

.pacotes-title {
    text-align: center;
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
}
 .pacotes .cards-pacotes {
     display: flex;
     max-width: 950px;
     margin: auto;
     flex-wrap: wrap;
     justify-content: center;
    
    
    
    

 }

 .pacotes .card {
    width: 250px;
    height: 460px;
    border-radius: 5%;
    margin: 25px auto;
    background-color: #BDDBCB;
    position: relative;
    }


.card-image {
    width: 250px;
    height: 250px;
    border-radius: 5% 5% 0% 0%;
}

ul.icones li {
    display: flex;
    flex-direction: column;
    list-style: none;
    
    
}

.pacotes .card-content ul li {
        font-size: 12pt;
        display: flex;
        align-items: center;
        margin: 5px 0px;
        
    }

.pacotes .card-content li svg{
    width: 25px;
    height: 25px;
    margin-right: 10px;

}
.card-content h1 {
    font-size: 13pt;
    margin: 10px;
    color: black;
    margin: 0;
    text-align: center;
}
.card-content ul {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.582);
    font-weight: bold;
}.card-content {
    color:rgba(0, 0, 0, 0.767) ; 
    

}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    background:#87c38f91;
    border-radius: 5px;
    padding: 5px 10px ; 
    

}



.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 200px;
    background:#226f547c;
    border-radius: 5px;
    padding: 5px 10px ; 
    

}
.pacotes .card .card-tag p {
    margin: 0;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.719);

}



 /* Responsividade*/

/* Landscape phones and down */
@media (max-width: 480px) {  
   body{
      margin-bottom: 55px;
   }
   
   
    header nav ul {
        z-index: 99;
        position:fixed;
        bottom: 0;
        left: 0%;
        padding: 30px;
        width: 100%;
        background: #DB965C;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        display: flex;
        color: rgba(255, 255, 255, 0.788);
        font-weight: bold;
        }
        header nav p {
            width: 100%;
            text-align: center;
        }
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Large desktop */
@media (min-width: 1200px) { ... }